body {
  font-family: "Tahoma", sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #0077ff;
}

section {
  background: white;
  padding: 15px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.listBox .item {
  background: #eef5ff;
  padding: 12px;
  margin: 8px 0;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

button {
  padding: 10px 14px;
  border: none;
  background: #0077ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

button.red {
  background: crimson;
}

/* نافذة التعديل */
.popup {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: #00000070;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: white;
  width: 90%;
  max-width: 450px;
  padding: 20px;
  border-radius: 10px;
}

.hidden { display: none; }

.popup input,
.popup textarea {
  width: 100%;
  padding: 8px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}/* تبويبات */
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tabBtn {
  padding: 10px 18px;
  border: none;
  background: #ddd;
  color: #333;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

.tabBtn.active {
  background: #0077ff;
  color: white;
}

.tabContent {
  display: none;
}

.tabContent.active {
  display: block;
}
