.table {
width: 100%;
border-collapse: collapse;
}

.table th,
.table td {
padding: 12px;
border-bottom: 1px solid #eee;
text-align: center;
font-size: 16px;
}

.table th {
background: #e0f2f1;
font-weight: 700;
}

/* ====== MODAL ====== */
.modal {
position: fixed;
inset: 0;
display: flex;
justify-content: center;
align-items: center;
background: #0006;
}

.hidden {
display: none !important;
}

.modal-card {
background: white;
width: 420px;
max-width: 95%;
padding: 20px;
border-radius: 12px;
}

.modal-card h3 {
margin-bottom: 15px;
font-size: 22px;
color: #004d40;
}

.modal-card input,
.modal-card textarea {
width: 100%;
padding: 10px;
border-radius: 10px;
border: 1px solid #ccc;
margin-bottom: 12px;
}

.modal-actions {
display: flex;
justify-content: space-between;
}
